

{{> header}}
<h2>About page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, voluptatum molestias? Voluptas omnis soluta impedit esse dolorem nam, animi perferendis!</p>

<p>Description: {{description}}</p>

{{> footer}}